mixin lounge(className, title, description, price, phone, colorClass)
	.lounge(class=className)
		.lounge__title= title
		.lounge__description= description
		.lounge__price= price 
			i.rub
		.lounge__phone!= phone
		a.lounge__link(class='_' + colorClass, href="./lounge.html") Подробнее
		a.lounge__link-bg(href="./lounge.html")